<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      rel="stylesheet"
      href="/projetopi/src/styles/pasta%20Dos%20CSS/footer.css"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-top">
        <div class="footer-logo">
          <img
            src="/ProjetoPI/src/assets/Imagens%20do%20Site/Conteudo%20do%20site/Logo%20Azul.png"
            alt="Logo Auctus"
          />
          <p class="descricao">
            <strong>Auctus</strong> vem do Latim
            <strong>“crescimento”</strong> é um sistema<br />
            de <strong>controle financeiro</strong>, com
            <strong>navegação fácil e sem<br />complicações</strong>
          </p>
          <div class="footer-social">
            <a href="https://www.youtube.com/@ByAvanced"
              ><i class="bi bi-youtube"></i
            ></a>
            <a href="https://www.instagram.com/byavanced/"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.tiktok.com/@byavanced.startup?lang=pt-BR"
              ><i class="bi bi-tiktok"></i
            ></a>
          </div>
        </div>

        <div class="footer-links">
          <h4>FUNCIONALIDADES ▼</h4>
          <ul>
            <li>Controle de Gastos</li>
            <li>Assistente Inteligente</li>
            <li>Dashboard Estratégico</li>
          </ul>
        </div>

        <div class="footer-links">
          <h4>SUPORTE ▼</h4>
          <ul>
            <li>
              <a href="/Projetopi/src/pages/pasta%20Dos%20HTML/servicos.html">CLICK AQUI!</a>
            </li>
          </ul>
        </div>
      </div>

      <p class="footer-copy">Desenvolvido por ByAvanced...</p>
    </footer>
  </body>
</html>
